#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.gradient-border {
  border: 1px solid;
  border-image-source: linear-gradient(116.58deg, #7B0AD1 24.28%, rgba(255, 83, 192, 0.5) 52.53%);
  border-image-slice: 1;
}

.selected-gradient-border {
  border: 2px solid;
  border-image-source: linear-gradient(115.29deg, #B6116B 15.07%, #3B1578 104.4%);
  border-image-slice: 1;
  background-color: #FFFF68;
}

.input-gradient-border {
  border: 1px solid;
  border-image-source: linear-gradient(116.58deg, #7B0AD1 24.28%, rgba(255, 83, 192, 0.5) 52.53%);
  border-image-slice: 1;
}